<label> <%= @figure.name %> </label>

<label>Landmarks: </label>
  <% @figure.landmarks.each do |landmark| %>
    Name: <%= landmark.name %> 
    Year Completed: <%= landmark.year_completed %> 
  <% end %>

<label>Titles: </label>
  <% @figure.titles.each do |title| %>
    <%= title.name %><br>
  <% end %>